.row{
    width: 100%;
    background-color: rgba(0, 0, 255, 0.364);
    display: flex;
    margin-bottom: 10px;
    height: 120px;
    gap: 10px;
}

.child{
    background-color: rgb(232, 121, 121);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}